*,
::before,
::after {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-list,
.features-list,
.team-list,
.porfolio-list {
  list-style-type: none;
}

/* header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 72px;
}

.header-nav {
  width: 452px;
  margin-right: 40px;
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-item:first-child {
  margin-right: 37px;
}

.header-link {
  position: relative;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #4d5ae5;
}

.header-address {
  max-width: 344px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  justify-content: flex-end;
}

.header-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.header-contacts:hover {
  color: #404bbf;
}

/* sections */

.section {
  padding: 120px 0;
}

/* hero */

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:active {
  background: #404bbf;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-descr {
  line-height: 1.5;
  letter-spacing: 0.01em;
}

/* team */

.team {
  background: #f4f4fd;
}

.team-title,
.porfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  background-color: #fff;
  padding-bottom: 32px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-photo {
  margin-bottom: 32px;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* porfolio */

.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-item-box {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.porfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.porfolio-item-subtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  max-width: 264px;
}

.footer-content .logo {
  display: inline-block;
  color: #f4f4fd;
  margin-bottom: 8px;
}

.footer-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
